body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

section {
  background-color: white;
}

h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.hero {
  background-color: black;
  /* height: 100vh; */
  color: white;
  font-size: 40px;
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-around;
  font-size: 30px;
}

ul.show {
  display: block;
}

li {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 50px;
  text-align: center;
}

p {
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 300;
}

.subtext {
  font-size: 1rem;
  font-weight: 300;
  /* padding: 1rem; */
}

.hero-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 20px;
}

.button {
  width: 8rem;
  border-radius: 30px;
  background-color: #eb1b24;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 20px auto 20px auto;
}

.button:hover {
  background-color: #ef744b;
}

.button:active {
  background-color: #898989;
  color: #808080;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.logo {
  font-size: 4rem;
  margin: 30px;
}

.social {
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.headshot {
  width: 300px;
  border-radius: 150px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.project-card {
  width: 80%;
  height: 100%;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
}

.project-container {
  /* display: flex;
  justify-content: space-around; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(auto, auto);
  justify-items: center;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }

  .headshot {
    margin: auto;
  }

  .project-card {
    margin: auto;
    width: 100%;
    overflow: scroll;
  }
}

.project-image {
  margin-top: 25px;
  width: 80%;
  border-radius: 10px;
  object-fit: cover;
  height: 30%;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: white;
}

.nav-link {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: #eb1b24;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0px;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
  }

  .logo {
    display: none;
  }
  .sub-section {
    flex-direction: column;
  }
}
